name: build_all
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - '.github/workflows/release.yaml'
      - '.github/ISSUE_TEMPLATE/**'
      - 'patches-contrib/**'
      - 'LICENSE'
      - '**/*.md'
      - 'README.md'
  pull_request:
    paths-ignore:
      - '.github/workflows/release.yaml'
      - '.github/__release_template.txt'
      - 'patches-contrib/**'
      - 'LICENSE'
      - '**/*.md'
      - 'README.md'

env:
  progname: "magiskboot"

permissions:
  contents: read

jobs:
  vars:
    name: Prepare (variables)
    runs-on: ubuntu-latest
    permissions:
      contents: none
    outputs:
      short_sha: ${{ steps.get_short_sha.outputs.SHORT_SHA }}
      cmake_build_type: ${{ steps.detect_build_type.outputs.CMAKE_BUILD_TYPE }}
      build_type: ${{ steps.detect_build_type.outputs.BUILD_TYPE }}
      cxx_flags: ${{ steps.detect_build_type.outputs.CXXFLAGS }}
      c_flags: ${{ steps.detect_build_type.outputs.CFLAGS }}
      ld_flags: ${{ steps.detect_build_type.outputs.LDFLAGS }}
    steps:
      - name: Determine short Git commit SHA
        id: get_short_sha
        run: echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_OUTPUT
      - name: Detect build types
        id: detect_build_type
        run: |
          CMAKE_BUILD_TYPE=Release
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            if [[ "${{ github.event.inputs.debug-build }}" == "true" ]]; then
              CMAKE_BUILD_TYPE=Debug
            else
              CFLAGS="-Os"
              CXXFLAGS="-g -Os -ffunction-sections -fdata-sections -fno-rtti -fno-exceptions"
              LDFLAGS="-s -Wl,--gc-sections"
            fi
          fi
          echo "CMAKE_BUILD_TYPE=$CMAKE_BUILD_TYPE" >> $GITHUB_OUTPUT
          echo "BUILD_TYPE=${CMAKE_BUILD_TYPE,,}" >> $GITHUB_OUTPUT
          echo "CFLAGS=$CFLAGS" >> $GITHUB_OUTPUT
          echo "CXXFLAGS=$CXXFLAGS" >> $GITHUB_OUTPUT
          echo "LDFLAGS=$LDFLAGS" >> $GITHUB_OUTPUT

  src:
    name: Prepare (source)
    runs-on: ubuntu-latest
    steps:
      - name: Prepare
        run: |
          sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends --no-install-suggests patch cmake ninja-build
      - name: Prepare (Git)
        run: |
          git config --global user.email "user@example.com"
          git config --global user.name "Example user"
      - name: Prepare (checkout)
        uses: actions/checkout@v4
      - name: Prepare (submodule)
        run: |
          ./scripts/clone_submodules.sh
          for _repo in $(git submodule foreach --recursive --quiet 'env'); do
            git config --global --add safe.directory "$_repo"
          done
      - name: Package source
        run: |
          CC=true cmake -B build -G Ninja -DCMAKE_C_COMPILER_WORKS=YES -DWITHOUT_BUILD=ON
          cmake --build build -t package_source -v
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: srcpkg
          if-no-files-found: error
          path: ${{ github.workspace }}/build/magiskboot_*-src.tar.xz

  build-linux:
    name: Build (Linux)
    runs-on: ubuntu-latest
    permissions:
      actions: write
    needs: [vars]
    container:
      image: alpine:edge
      volumes:
        - ${{ github.workspace }}:/magiskboot_workspace
      options: --security-opt seccomp=unconfined
    steps:
      - name: Prepare (Alpine Linux)
        run: |
          apk update
          apk add build-base linux-headers bash wget file xxd xz-dev lz4-dev bzip2-dev zlib-dev \
                  pkgconf clang lld libc++-dev cmake samurai rust cargo llvm-libunwind-dev
      - name: Synchronize (source)
        uses: yogeshlonkar/wait-for-jobs@v0.2.1
        with:
          jobs: 'Prepare (source)'
      - name: Prepare (source)
        uses: actions/download-artifact@v4
        with:
          name: srcpkg
      - name: Build
        run: |
          tar -xf magiskboot_*-src.tar.xz
          cd magiskboot_*-src/
          CC=clang CXX=clang++ cmake -DCMAKE_C_FLAGS="-Os" -DCMAKE_CXX_FLAGS="-g -Os -ffunction-sections -fdata-sections -fno-rtti -fno-exceptions" -DCMAKE_EXE_LINKER_FLAGS="-s -Wl,--gc-sections" -DPREFER_STATIC_LINKING=true -G Ninja -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build -j $(nproc)
          file build/magiskboot*
          ldd build/magiskboot* || true
          ./build/magiskboot* || true
          mkdir -p /magiskboot_workspace/${{ env.progname }}-out
          cp -afv build/magiskboot* /magiskboot_workspace/${{ env.progname }}-out
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: ${{ env.progname }}-${{ needs.vars.outputs.short_sha }}-${{ needs.vars.outputs.build_type }}
          path: ${{ github.workspace }}/${{ env.progname }}-out/magiskboot*

  build-linux-arm64:
    name: Build (Linux ARM64)
    runs-on: ubuntu-24.04-arm
    permissions:
      actions: write
    needs: [vars]
    steps:
      - name: Prepare (Ubuntu Linux)
        run: |
          sudo apt-get update 
          sudo apt-get upgrade -y
          sudo apt install build-essential lzma-dev liblzma-dev liblz4-dev libbz2-dev zlib1g-dev pkg-config clang-15 libc++-15-dev libc++abi-15-dev cmake ninja-build rustc cargo
          rustup install nightly
          rustup default nightly
      - name: Synchronize (source)
        uses: yogeshlonkar/wait-for-jobs@v0.2.1
        with:
          jobs: 'Prepare (source)'
      - name: Prepare (source)
        uses: actions/download-artifact@v4
        with:
          name: srcpkg
      - name: Build
        run: |
          tar -xf magiskboot_*-src.tar.xz
          cd magiskboot_*-src/
          CC=clang-15 CXX=clang++-15 cmake -DCMAKE_C_FLAGS="-Os" -DCMAKE_CXX_FLAGS="-g -Os -ffunction-sections -fdata-sections -fno-rtti -fno-exceptions" -DCMAKE_EXE_LINKER_FLAGS="-s -Wl,--gc-sections" -DPREFER_STATIC_LINKING=true -G Ninja -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build -j $(nproc)
          file build/magiskboot*
          ldd build/magiskboot* || true
          ./build/magiskboot* || true
          mkdir -p /magiskboot_workspace/${{ env.progname }}-out
          cp -afv build/magiskboot* /magiskboot_workspace/${{ env.progname }}-out
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: ${{ env.progname }}-${{ needs.vars.outputs.short_sha }}-${{ needs.vars.outputs.build_type }}-arm64
          path: ${{ github.workspace }}/${{ env.progname }}-out/magiskboot*
